[Unit]
Description=Detect GPU hardware changes
DefaultDependencies=no
After=local-fs.target
Before=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/xero-gpu-check

[Install]
WantedBy=multi-user.target
